body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
    overflow: hidden;
}

.header-image {
    padding: 20px auto;
    width: 100%;
    max-height: 200px;
}

.login-container {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #38ad4c;
}

.login-container input, .login-container button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 80%; /* Adjusted table width */
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 0.8rem;
}

th, td {
    border: 1px solid #23880a;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #38ad4c;
    color: white;
}

footer {
    background-color: #078f1e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
#studentDisplayName{

    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px      auto;
    align-items: center;
    float: center;
    color: rgb(0, 0, 0);
    border: 1px  solid #59db6f;
    border-radius: 15px
}
#studentDisplayId{
    background-color: #ffffff;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px      auto;
    align-items: center;
    float: center;
    color: #ffffff;   
}
#errorMessage{
    border: 1px  solid white;
    border-radius: 15px
}
#department{
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px      auto;
    align-items: center;
    float: center;
    color: rgb(0, 0, 0);
    border: 1px  solid #59db6f;
    border-radius: 15px 
}
